.version.index /* version checker */
{
	color: #000006;
	background-color: #313658;
}

#page
{
	z-index: 1;
	width: 1131px;
	min-height: 938px;
	background-image: none;
	border-width: 0px;
	border-color: #000000;
	background-color: transparent;
	margin-left: auto;
	margin-right: auto;
	padding: 62px 19px 2585px 20px;
}

#u94-4
{
	z-index: 2;
	width: 453px;
	min-height: 113px;
	background-color: transparent;
	font-size: 36px;
	text-align: center;
	line-height: 43px;
	margin-left: 290px;
	position: relative;
}

#u107-4
{
	z-index: 12;
	width: 453px;
	min-height: 59px;
	background-color: transparent;
	line-height: 24px;
	font-size: 20px;
	text-align: center;
	font-weight: bold;
	margin-left: 290px;
	position: relative;
}

#pu97
{
	width: 0.01px;
	margin-top: 70px;
}

#u97
{
	z-index: 6;
	width: 357px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u127
{
	z-index: 8;
	width: 357px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 387px;
}

#u141
{
	z-index: 10;
	width: 357px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 774px;
}

#pu153-4
{
	width: 0.01px;
	margin-top: 15px;
}

#u153-4
{
	z-index: 16;
	width: 357px;
	min-height: 82px;
	background-color: transparent;
	color: #FF00FF;
	line-height: 24px;
	font-size: 20px;
	text-align: center;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
}

#u159-4
{
	z-index: 20;
	width: 357px;
	min-height: 82px;
	background-color: transparent;
	color: #FF00FF;
	line-height: 24px;
	font-size: 20px;
	text-align: center;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	left: 387px;
}

#u162-4
{
	z-index: 24;
	width: 357px;
	min-height: 82px;
	background-color: transparent;
	color: #FF00FF;
	line-height: 24px;
	font-size: 20px;
	text-align: center;
	font-weight: bold;
	position: relative;
	margin-right: -10000px;
	left: 774px;
}

#u192
{
	z-index: 28;
	width: 592px;
	height: 179px;
	border-width: 0px;
	border-color: transparent;
	background-color: transparent;
	max-width: 2000px;
	min-width: 300px;
	margin-left: 188px;
	margin-top: 182px;
	position: relative;
}

#muse_css_mq,.html
{
	background-color: #FFFFFF;
}

body
{
	position: relative;
	min-width: 1170px;
}

